headear
    div(id="header" class="px-4 py-3")
        a(href="/" class = "h1 text-aqua d-inline-block") SyncedDrawing
        if user
            div.d-inline-block.float-right.my-2
                a(href="/users/dashboard" class="h4 text-dark mr-3")
                    i(class="far fa-user")
                a(href="/auth/logout" class="h4 text-dark")
                    i(class="fas fa-sign-out-alt")