nav
    //- div(id="header" class="px-4 py-3")
    //-     a(href="/" class = "h2 text-aqua d-inline-block") SyncedDrawing
    //-     if user
    //-         div.d-inline-block.float-right.my-2
    //-             a(href="/users/dashboard" class="h4 text-dark mr-4")
    //-                 i(class="far fa-user")
    //-             a(href="/auth/logout" class="h4 text-dark")
    //-                 i(class="fas fa-sign-out-alt")
    div(class = "px-4 py-3 d-flex justify-content-between")
        div(class = "d-flex")
            a(href="/" class = "h2 text-aqua d-inline-block") SyncedDrawing
        if user
            div(class = "d-flex")
                a(href="/users/dashboard" class="h4 text-dark d-inline-block mr-4")
                    i(class="far fa-user")
                a(href="/auth/logout" class="h4 text-dark d-inline-block")
                    i(class="fas fa-sign-out-alt")
