html,
body {
    overflow-x: auto;
}

/* Canvas */
#canvas {
    touch-action: none;
    cursor: none;
}

#canvas_w,
#canvas_h,
#brush_size {
    width: 100px;
}

@media screen and (max-width: 756px) {

    #canvas_w,
    #canvas_h,
    #brush_size {
        width: 75px;
    }
}

/* Custom dropdown */
.dd-opts{
    top: 34;
    left: 0;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    z-index: 1;
}
.opt:hover{
    background-color: #EFEFEF;
}

/* Messages */
#msgs-opts {
    max-height: 100%;
    overflow-y: auto;
}

#messages-list {
    height: 500px;
    max-height: 500px;
    overflow-y: auto;
}

#no-msgs-img>img {
    max-height: 100px;
}

.msg-bubble {
    max-width: 50%;
    word-wrap: break-word;
}